.spinner {
  width: 13.6rem;
  height: 13.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.spinnerSvg {
  width: 100%;
  height: 100%;
  animation: spin 1.2s linear infinite;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 900px) {
  .spinner {
    width: 10rem;
    height: 10rem;
  }
}
