.container {
  padding: 8.8rem 4.4% 10.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7.2rem;
  background: linear-gradient(180deg, #f2f5fe 0%, #eaf3ff 100%);
}
.title {
  color: #000822;
  text-align: center;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  max-width: 1000px;
}
.title span {
  color: #0388ff;
  background: linear-gradient(135deg, #0388ff 0%, #0270cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.cardsContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2.4rem;
  flex-wrap: wrap;
  max-width: 1400px;
}

.cardsContainer > div {
  min-height: 38rem;
  flex: 1;
  min-width: 24rem;
}
@media screen and (max-width: 900px) {
  .container {
    padding: 9.6rem 4.4% 7.8rem;
    gap: 4.4rem;
  }
  .title {
    font-size: 3rem;
  }
  .cardsContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.2rem;
  }

  .cardsContainer > div {
    min-height: auto;
    width: 100%;
  }
}
