.reviewsContainer {
  padding: 10rem 0 0;
}
@media (max-width: 900px) {
  .reviewsContainer {
    padding: 6rem 2% 0;
  }
}
@media (max-width: 600px) {
  .reviewsContainer {
    padding: 4rem 0 0;
  }
}
