.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
.stepperContainer {
  display: flex;
  align-items: center;
  flex: 1;
}
.stepperItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.2rem;
}
.stepperItemText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.stepperLine,
.stepperLine2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2px;
}
.stepperLine svg,
.stepperLine2 svg {
  width: 100%;
  height: 100%;
  margin-top: 0 !important;
}
.stepperNumber {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: linear-gradient(135deg, #0388ff 0%, #049cff 100%);
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
}
.stepperTitle {
  color: white;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.3px;
}
@media screen and (max-width: 900px) {
  .stepper {
    gap: 1.6rem;
    width: 75%;
    margin: 0 auto;
  }
  .stepperItemImage {
    width: 3.4rem;
    height: 3.4rem;
  }
  .stepperItemImage:first-child {
    width: 4.2rem;
    height: 4.2rem;
  }
  .stepperItem {
    gap: 1.2rem;
    margin: 0.4rem 0 0 !important;
  }
  .stepperItem:first-child {
    margin: 0 !important;
  }
  .stepperItemText {
    gap: 0.5rem;
  }
  .stepperLine svg,
  .stepperLine2 svg {
    margin-top: -4rem;
  }
  .stepperTitle {
    font-size: 1.6rem;
  }
}
