.content {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

@media screen and (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .content {
    gap: 1.6rem;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  .content {
    gap: 1.4rem;
  }

  .cards {
    gap: 1.2rem;
  }
}
