.stepper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.stepperItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.stepperItemText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.stepperLine,
.stepperLine2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4px;
  margin-top: 2.4rem;
}
.stepperLine svg,
.stepperLine2 svg {
  width: 100%;
  height: 100%;
}
.stepperNumber {
  color: #049cff;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.stepperTitle {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.3px;
}
